@font-face {
  font-family: 'Merriweather',
    serif;
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter',
    sans-serif;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter',
    sans-serif;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter'
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  color: #ffffff;
  background-color: #000000;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  /*border: 2px solid red;*/
}

.header-container {
  background-image: url(./assets/img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center
    0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.heder-items {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}

.icon {
  width: 50px;
  height: 50px;
  fill: #ffffff;
  margin: 20px;
}

.icon:hover {
  fill: #bdae82;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
}

.nav-items {
  padding-left: 30px;
  list-style: none;
}

.language {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 31px;
}

.nav-item {
  font-size: 20px;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #bdae82;
}

.sun {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 21px;
  fill: #ffffff;
  transition: 0.5s;
}

#carbon-sun-2 {
  width: 45px;
  height: 45px;
}

.sun:hover {
  fill: #bdae82;
}

@media screen and (max-width: 768px) {
  .sun {
    margin-left: 7px;
    margin-right: 30px;
  }
}

.burger-header {
  width: 50px;
  height: 30px;
  position: relative;
  display: none;
  /*display: none;*/
}

.burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;

  /*top: 31px;
  right: 64px;*/
}

.burger-line-1 {
  top: 0;
}

.burger-line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-3 {
  bottom: 0;
}

.nav-close {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  top: 15px;
  right: 60px;
  z-index: 15;
  margin: 0;
}

.close-line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
}

.close-line:first-child {
  transform: translateY(-50%)
    rotate(45deg);
}

.close-line:last-child {
  transform: translateY(-50%)
    rotate(-45deg);
}

@media screen and (max-width: 768px) {
  /*.nav {
    display: none;
  }*/
  .language {
    margin-left: auto;
  }
  .icon {
    margin: 40px 60px;
  }
  .header {
    position: relative;
  }
  .header-container {
    position: absolute;
    top: 25px;
    background-image: none;
    z-index: 4;
    margin-top: 20px;
  }
  .burger-header {
    display: block;
    margin-right: 64px;
  }
  .nav {
    width: 620px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000000;
    z-index: 10;
    padding-top: 133px;
    padding-left: 127px;
    transform: translateX(
      100%
    );
    transition: 0.3s all
      linear;
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .nav-items {
    margin-bottom: 16px;
    padding: 0;
  }

  .nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 73px;
    color: #ffffff;
  }
  .nav-close {
    display: block;
  }
}

/*main*/
/*hero*/

.hero-container {
  background-image: url(./assets/img/hero.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  /*height: 65vh;*/
  min-height: 820px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  color: #ffffff;
}

#hero {
  margin-left: 80px;
  margin-top: 160px;
  max-width: 470px;
}

.hero-title {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  margin: 0;
}

.hero-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 25px;
}

.btn {
  width: 220px;
  height: 55px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  border: none;
  color: #000000;
  background-color: #bdae82;
  transition: 0.5s;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #hero {
    padding-top: 170px;
    padding-left: 60px;
    margin: 0;
  }
  .hero-container {
    background-image: url(./assets/img/hero.jpg);
    background-position: top
      0px right -200px;
    background-repeat: no-repeat;
    background-size: 960px
      590px;
    max-width: 100%;
    min-height: 585px;
    margin-bottom: 76px;
  }

  .hero-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 20px;
  }

  .hero-text {
    max-width: 405px;
    max-height: 72px;
    font-size: 20px;
    line-height: 24.2px;
    text-align: left;
    margin-bottom: 60px;
  }
}

/*skills*/

#skills {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 100px;
}

span {
  background-color: #000000;
  padding: 0 20px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

.section-title {
  max-width: 700px;
  font-family: 'Merriweather',
    serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  color: #bdae82;
  margin-bottom: 60px;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
  overflow-x: hidden;
  display: block;
}

.skills-item-block {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  );
  grid-column-gap: 40px;
}

.skills-item {
  grid-column: span 2;
  text-align: center;
  max-height: 240px;
}

.skills-logo {
  margin-bottom: 50px;
}

.skills-name {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.skills-review {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  #skills {
    margin-bottom: 83px;
  }
  .skills-item-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px 0 40px;
  }
  .section-title {
    max-width: 364px;
    margin-bottom: 48px;
  }
  span {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  .skills-item {
    min-width: 300px;
    min-height: 224px;
    margin-bottom: 36px;
  }
  .skills-logo {
    margin-bottom: 18px;
  }
  .skills-name {
    margin-bottom: 20px;
  }
  .skills-review {
    margin-top: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 450px) {
  .skills-item {
    min-width: 150px;
    margin-bottom: 40px;
  }
  .skills-logo {
    margin-bottom: 10px;
  }
}

#portfolio {
  width: 100%;
  height: 100%;
}

.portfolio-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section-btn {
  background-color: transparent;
  color: #bdae82;
  border: 2px solid #bdae82;
  padding: 0;
}

.section-btn:active {
  background-color: #bdae82;
  color: #000000;
}

.portfolio-items {
  max-width: 1440px;
  margin: 0 20px 80px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.portfolio-img {
  width: 32%;
  height: 32%;
  /*max-width: 450px;
  min-height: 560px;*/
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .portfolio-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 115px;
    max-width: 445px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 62px;
  }
  .section-btn {
    margin-bottom: 2px;
  }
  .portfolio-items {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 55px;
  }
  .portfolio-img {
    min-width: 450px;
    min-height: 560px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .portfolio-img {
    min-width: 220px;
    min-height: 260px;
  }
}

#video {
  margin: 0 20px;
  margin-bottom: 100px;
}
.video-player {
  width: 100%;
  min-height: 705px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/video-player.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-btn {
  background-color: transparent;
  border: none;
  fill: #ffffff;
  transition: 0.5s;
}
.video-btn:hover {
  fill: #bdae82;
}

@media screen and (max-width: 768px) {
  #video {
    margin: 0 5px 80px 5px;
  }

  .video-player {
    background-position: top 0
      right -50px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 418px;
  }
  .player-btn {
    width: 75px;
    height: 75px;
  }
}

#price {
  width: 100%;
  height: 100%;
  margin-bottom: 55px;
}

/*.price-items {
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  );
  grid-column-gap: 25px;
  margin: 0 20px;
}

.price-item {
  grid-column: span 2;
  text-align: center;
  border: 2px solid #bdae82;
}*/

.price-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.price-item {
  border: 2px solid #bdae82;
  min-width: 450px;
  text-align: center;
  margin-bottom: 50px;
}

.price-item-name {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-top: 43px;
  margin-bottom: 20px;
}

.price {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #bdae82;
}

.description {
  margin-top: 0;
  margin-bottom: 40px;
}

.span {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

.order {
  margin-bottom: 43px;
}

@media screen and (max-width: 768px) {
  #price {
    margin-bottom: 8px;
  }
  .price-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 0 25px 0;
  }
  .price-item {
    min-width: 420px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 480px) {
  .price-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 224px;
    min-height: 229px;
    margin: 0 auto;
  }
  .price-item {
    min-width: 220px;
    min-height: 250px;
    margin-bottom: 25px;
  }
}

/*.author-and-year
  .light-theme {
  background-color: #ffffff;
  color: #000000;
}

.light-theme .section-btn {
  color: #000000;
}

.light-theme .section-title {
  color: #ffffff;
  background-image: linear-gradient(
    to top,
    #ffffff 39px,
    #000000 39px,
    #000000 41px,
    #ffffff 41px
  );
}

.light-theme .btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
}

.light-theme
  .section-btn:active,
.section-btn:hover {
  background-color: #bdae82;
  color: #ffffff;
}*/

#contacts {
  background-image: url('./assets/img/contacts.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  background-size: cover;
  display: flex;
  /*margin-bottom: 50px;*/
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 60px;
  margin-left: auto;
}

.my-contacts {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin: 0 20px 40px 0;
}

.contacts-container {
  display: block;
  margin-right: 20px;
}

.input {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid #bdae82;
  padding-left: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  );
}

.phone {
  color: #bdae82;
}

#message {
  height: 100px;
  color: #bdae82;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  padding-left: 18px;
  margin-left: 0;
  padding-top: 2px;
  margin-bottom: 30px;
}

::placeholder {
  font-family: inherit;
  color: rgb(189, 174, 130);
  font-size: 20px;
  line-height: 40px;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  #contacts {
    background-position: top 0
      right -235px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    max-width: 100%;
    padding-bottom: 60px;
    margin-bottom: 28px;
  }
  .contact-form {
    margin: 0 auto;
    text-align: center;
  }
  .my-contacts {
    margin: 0 auto;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 40px;
    min-width: 450px;
  }
  .contacts-container {
    margin: 0;
  }
  .form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-form {
    min-width: 150px;
  }
  .my-contacts {
    min-width: 150px;
  }
}

.footer-container {
  background-color: #000000;
  color: #ffffff;
}

.author-and-year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}

.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 182px;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  min-width: 188px;
  margin: 50px 0;
}

.social-icon {
  width: 32px;
  height: 32px;
  fill: #ffffff;
  transition: 0.5s;
}
.social-icon:hover {
  fill: #bdae82;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 190px;
  }
  .author-and-year {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .copyright {
    min-width: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  .year {
    margin: 0;
  }

  .rs-school {
    display: block;
    min-width: 210px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 28px;
  }

  .social-item {
    list-style: none;
  }

  .social-icon {
    width: 32px;
    height: 32px;
    fill: #ffffff;
  }

  .social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 188px;
    justify-content: space-between;
  }
}
